* {
  font-family: "Inter", sans-serif;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.category-btn.active {
  background-color: #ff1f3d;
  color: white;
}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
